<header id="top-header">
    <span class="site-name">
        <a href="/" title="Home page">CSE Motors</a>
    </span>
    <div id="tools">
        <% if (locals.loggedin) { %>
            <a href="/account/" title="Manage your account">Welcome <%= locals.accountData.account_firstname %></a>
            <a href="/account/logout" title="Click to log out">Logout</a>
        <% } else { %>
            <a href="/account/login" title="Click to log in">My Account</a>
        <% } %>
    </div>
</header>