<header id="top-header">
    <a href="/" title="CSE Motors Home" class="logo">CSE Motors</a>
    <div id="account-link">
        <a href="/account" title="My Account">My Account</a>
    </div>
</header>