<nav>
  <ul id="main-nav">
    <li><a href="/" title="Home Page">Home</a></li>
    <li><a href="/custom" title="Custom Vehicles">Custom</a></li>
    <li><a href="/sedan" title="Sedans">Sedan</a></li>
    <li><a href="/suv" title="SUVs">SUV</a></li>
    <li><a href="/truck" title="Trucks">Truck</a></li>
  </ul>
</nav>