<h1><%= title %></h1>
<%- messages() %>
<main class="register-container">

<div class="management-links">
  <a href="/inv/add-classification">Add New Classification</a>
  <a href="/inv/add-inventory">Add New Vehicle</a>
</div>

<h2>Manage Inventory</h2>
<p>Select a classification from the list to see the items belonging to the classification.</p>

<%- classificationSelect %>


  <table id="inventoryDisplay"></table>
  
  <noscript>JavaScript must be enabled to use this page.</noscript>

</main>
<script src="../../js/inventory.js"></script>